*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:bisque;
    text-align: center;
}
main{
    background-color: white;
}
footer{
    background-color: rgba(255, 0, 0, 0.367);
    padding: 10px 50px;
}

#about{
    padding: 10px 50 px;
    text-align: center;
}
#articles{
    background-color:bisque;
    padding: 10px 50px;
}
p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 40px;
    margin-bottom: 20px;
    color: black;
}
h1 {
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    font-style: italic;
}
h2{
    font-size: 1.5rem;
    text-decoration: overline;
    text-align: center;
}
ul{
    list-style: none;
}
img {
    border: 25em;
    border-radius: 1em;
    box-shadow:inset ;
}
#picture1{
    display: block;
margin: 0 auto;
}
#picture2{
    display: block;
    margin: 0 auto;
}
#ph {
    display: block;
    margin: 0 auto;
    padding: 0;
}

a:hover{
    color: black;
    text-decoration: underline;
}
a:focus{
    font-size: large;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.social-icon {
    margin: 10px;
}
#anot:hover{
    color:#f00;
    text-decoration:dashed;
}
#anot:focus{
    font-style: oblique;
}
#stat:hover{
    color:brown;
    text-decoration: double;
}
#stat:hover{
    flex:content ;
}
li:nth-child(even){
    background-color: aliceblue;
}
li:nth-child(odd){
    background-color: aquamarine;
}
.opa::after {
    content: "Важно!";
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    border: 1px solid #f00;
    background-color: #fdd;
    color: #f00;
    font-weight: bold;
  }
  #about p{
    font-weight: normal;
    background-color: green;
}
.social-icon {
    border: 3px solid #f00;
}
p+img {
    margin-top: 100px;
  }
  p:first-of-type {
    text-indent: 3em;}
  
.en {
    font-style: italic;
    color: blue;
  }
  p:first-line {
    letter-spacing: 10px;
  }
  table tbody tr:nth-child(even) {
    background-color: aqua;
  }
  table th {
    font-weight: bold;
    color: forestgreen;
  }
  table tr td:nth-child(1) {
    color: red;
  }
  table{
    border:dotted 7px ;
  }
  table td,
  table th{
    border: dashed 2px black;}
.check-table{
    border: dotted 7px red;
    border-collapse: collapse;
}
.check-table td,
.check-table th{
    border: dashed 2px black;
    padding: 5px 10px;
}

.check-table tr:nth-child(odd){
font-weight: bold;
color: #f00;
}
.check-table td:last-child,
.check-table th:last-child{
background-color: aqua;
text-align: center;
}
.form__item{
    margin-bottom: 20px;
}
#contact-form {
    background-color:#b098cf;
    display: inline-block;
    padding: 10px 100px 10px 10px;
    color: #fff;
}
#contact-form input[type="text"],
input[type="email"],
input[type="tel"],input
[type="phone"],
[type="date"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    border: #fff 1px solid;
    background-color: #eddfff;
}
#topic {
    height: 30px;
    width: 250px;
    padding: 5px;
    border: #fff 1px solid;
    background-color: #eddfff;
}
#message {
    min-height: 20px;
    max-width: 250px;
    min-width: 250px;
    padding: 5px;
    border: #fff 1px solid;
    background-color: #eddfff;
}

label {
    font-style: italic;
}
#contact-form input[type="submit"] {
    background-color: #523479;
    padding: 5px;
    text-transform: uppercase;
}
#contact-form input[type="submit"]:hover {
    background-color: #b098cf;
}
